/*------------Översta nav så den sitter fast*--------------------*/
.main-nav
{
	position:relative;
	padding:5px 5%;
	margin:0 0 0px 0;
}
.main-nav a {
	text-decoration:none;
	font-size:0.9em;
	letter-spacing:0.3px;
	font-weight:400;
	color:#ccc;
	font-family:Playfair Display;
}
.main-nav.overlay {
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:54px;
	border:none;
	background:linear-gradient(to bottom,rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
	background:rgba(0,0,0,0.8);
	z-index:9;
}
.main-nav .nav-current a {
	color:#fff;
}
.main-nav a:hover {
	color: #fff;
}
.main-nav ul {
	list-style:none;
	margin:5px 0;
	text-align:center;
	padding-left:0;
}
.main-nav ul li {
	display:inline-block;
}
.main-nav ul li a {
	padding:0 10px;
}
/*------------Översta nav så den sitter fast*--------------------*/

/*--------Logo-----------*/
.logo {
	float: 	left;
	margin-top: 15px;
}
.logo h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
}
.logo h2 em {
	font-style: normal;
	color: #f33f3f;
}

/* Appears in the top left corner of your home page */
.logo {
	display:block;
	float:left;
	background:none !important;
	/* Makes sure there is never a background */
	border:none !important;
	/* Makes sure there is never a border */
}
.logo img {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:block;
	height:auto;
	padding:0;
	width:auto;
	opacity:1;
	transition:all 0.4s;
}
.logo img:hover {
	opacity:1.0;
	transition:all 0.4s;
}

/*--------Logo-----------*/

ol, ul {
    padding-left: 3rem; /*radera kanske*/
}
p, ul, ol, dl {
    font-feature-settings: "liga", "onum", "kern";
    text-rendering: geometricprecision;
    margin: 0px 0px 1.75em;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
    font-size: xx-large;
}

/* Clears shit */
.clearfix:before,.clearfix:after {
	content:" ";
	display:table;
}
.clearfix:after {
	clear:both;
}
.clearfix {
	zoom: 1;
}

/* Hides shit */
.hidden {
	text-indent:-9999px;
	visibility:hidden;
	display: none;
}

/*-----logo bilderna i nav-------*/
img.symbol:before {
	content:attr(title);
	margin-right:0.3em;
	font-size:130%;
}
img.symbol {
	background:white;
	padding:7px 5px 3px 5px;
	color:white;
	text-decoration:none;
    height: 3vh;
    width: 5.3vh;
    float: right;
}
/*-----logo bilderna i nav-------*/


/*----------menu----------*/


.menu-button {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:inline-block;
	/* float:right; */
	padding:0;
	opacity:1;
	text-align:center;
	font-size:12px;
	text-transform:uppercase;
	white-space:nowrap;
	transition:all 0.5s ease;
}
.menu-button:before {
	font-size:24px;
	font-weight:300;
	position:relative;
	top:14px;
}
.menu-button:hover {
	background:#fff;
}
.menu-button:focus {
	outline: 0;
}
/* When the navigation is closed */
.nav-closed .menu-button {
	color:#333;
	border-color:rgba(255,255,255,0.6);
}
.nav-closed .menu-button:hover {
	color: #222;
}
/* When the navigation is closed and there is no cover image */
.nav-closed .no-cover .menu-button {
	border-color:#BFC8CD;
	color:#9EABB3;
}
.nav-closed .no-cover .menu-button:hover {
	border-color:#555;
	color: #555;
}
/* When the navigation is opened */
.nav-opened .menu-button {
	padding:0 12px;
	background:#111;
	border-color:#111;
	color:#fff;
	-webkit-transform:translate3D(94px,0,0);
	-ms-transform:translate3D(94px,0,0);
	transform:translate3D(94px,0,0);
	transition:all 0.3s ease;
}
.nav-opened .menu-button .word {
	opacity:0;
	transition: all 0.3s ease;
}


@media only screen and (max-width:500px)
{

	.menu-button {
		padding:0 5px;
		border-radius:0;
		border-width:0;
		color:#2e2e2e;
		background:transparent;
	}
	.menu-button:hover {
		color:#2e2e2e;
		border-color:transparent;
		background:none;
	}
	body.nav-opened .menu-button {
		background:none;
		border:transparent;
	}
    .no-cover .main-nav.overlay .menu-button {
		border:none;
	}
	.main-nav.overlay .menu-button {
		border-color:transparent;
	}
    .logo {
		padding:0px;
	}
}

.slicknav_menu {
	display: none;
}

@media screen and (max-width:900px) {
	/* #menu is the original menu */
	#menu {
			display:none;
	}
	.site-wrapper {
		margin-top:0;
	}
	.slicknav_menu {
			display:block;
	}
	.main-nav.overlay {
		position:relative;
		height:3px;
	}
	span.socialheader {
		float:none;
		margin-bottom:50px;
		display: block;
	}
    .logo img {
		padding:0 0 0 10px;
		margin-top:-54px;
	}
}

/*slicknav*/
.slicknav_btn {
	position:relative;
	display:block;
	/* vertical-align:middle; */
	float:right;
	padding:0.438em 0.625em 0.438em 0.625em;
	line-height:1.125em;
	cursor:pointer;
}
.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
	margin-top:0.188em;
}
.slicknav_menu {
	*zoom:1;
}
.slicknav_menu .slicknav_menutxt {
	display:block;
	line-height:1.188em;
	float:left;
}
.slicknav_menu .slicknav_icon {
	float:left;
	width:1.125em;
	height:0.875em;
	margin:0.188em 0 0 0.438em;
}
.slicknav_menu .slicknav_icon:before {
	background:transparent;
	width:1.125em;
	height:0.875em;
	display:block;
	content:"";
	position:absolute;
}
.slicknav_menu .slicknav_no-text {
	margin:0;
}
.slicknav_menu .slicknav_icon-bar {
	display:block;
	width:1.125em;
	height:0.125em;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.25);
	-moz-box-shadow:0 1px 0 rgba(0,0,0,0.25);
	box-shadow:0 1px 0 rgba(0,0,0,0.25);
}
.slicknav_menu:before {
	content:" ";
	display:table;
}
.slicknav_menu:after {
	content:" ";
	display:table;
	clear:both;
}
.slicknav_nav {
	clear:both;
}
.slicknav_nav ul {
	display:block;
}
.slicknav_nav li {
	display:block;
}
.slicknav_nav .slicknav_arrow {
	font-size:0.8em;
	margin:0 0 0 0.4em;
}
.slicknav_nav .slicknav_item {
	cursor:pointer;
}
.slicknav_nav .slicknav_item a {
	display:inline;
}
.slicknav_nav .slicknav_row {
	display:block;
}
.slicknav_nav a {
	display:inline-block;
}
.slicknav_nav .slicknav_parent-link a {
	display:inline;
}
.slicknav_brand {
	float:left;
}
.slicknav_menu {
	font-size:16px;
	box-sizing:border-box;
	background:#313232;
	padding:5px;
	right:0;
	z-index:99;
}
.slicknav_menu * {
	box-sizing:border-box;
}
.slicknav_menu .slicknav_menutxt {
	color:#fff;
	font-weight:bold;
	text-shadow:0 1px 3px #000;
}
.slicknav_menu .slicknav_icon-bar {
	background-color:#fff;
}
.slicknav_btn {
	margin:5px 5px 6px;
	text-decoration:none;
	text-shadow:0 1px 1px rgba(255,255,255,0.75);
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background-color:#222;
}
.slicknav_nav {
	color:#fff;
	margin:0;
	padding:0;
	font-size:0.875em;
	list-style:none;
	overflow:hidden;
}
.slicknav_nav ul {
	list-style:none;
	overflow:hidden;
	padding:0;
	margin:0 0 0 20px;
}
.slicknav_nav .slicknav_row {
	padding:5px 10px;
	margin:2px 5px;
}
.slicknav_nav .slicknav_row:hover {
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	background:#ccc;
	color:#fff;
}
.slicknav_nav a {
	padding:5px 10px;
	margin:2px 5px;
	text-decoration:none;
	color:#fff;
}
.slicknav_nav a:hover {
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	background:#ccc;
	color:#222;
}
.slicknav_nav .slicknav_txtnode {
	margin-left:15px;
}
.slicknav_nav .slicknav_item a {
	padding:0;
	margin:0;
}
.slicknav_nav .slicknav_parent-link a {
	padding:0;
	margin:0;
}
.slicknav_brand {
	color:#fff;
	font-size:18px;
	line-height:30px;
	padding:7px 12px;
	height: 44px;
}

/*----------menu----------*/

/*------Header Bild första sidan-------*/
/* body, html {
    height: 100%;
    margin: 0;
  }

#StartPage {
    position: relative;
}

#s {
    width: 100%;
    height: 50px;
	height: auto;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/*------Header Bild första sidan-------*/
#dataDisplay{
    
    position: absolute;
    overflow: visible;
    width: 80%;
    height: 45%;
    left: 15%;
    top: 20%;
    
    /* border-style: solid; */
    /* border-color: rgb(44, 104, 93); */
    background-color: white;
    opacity: 85% ;

    /* Denna skapar en skroll och att texten inte går utanför diven */
    /* overflow: hidden;
    white-space: nowrap;
    overflow: auto; */
}

#dataDisplay-Text{
    font-size: large;
    list-style-type: none;
    
    /*Ser till att idn hamnar i den grid jag vill*/
    display: grid;
	grid-template-columns:33% 33% 33%
    /* grid-template-rows: auto;
    grid-template-areas:
    "#first #second #third" */
}

#dataDisplay-product-Text{

    /*Ser till att idn hamnar i den grid jag vill*/
    display: grid;
	grid-template-columns:37% 37% 37%
    /* grid-template-rows: auto;
    grid-template-areas:
    "#first #second #third" */
}

#dataDisplay-product{
	    position: absolute;
    overflow: visible;
    width: 80%;
    height: 45%;
    left: 10%;
    top: 10%;
    
    /* border-style: solid; */
    /* border-color: rgb(44, 104, 93); */
    background-color: white;
    opacity: 85% ;

    /* Denna skapar en skroll och att texten inte går utanför diven */
    /* overflow: hidden;
    white-space: nowrap;
    overflow: auto; */
}

.product-item-start{
	border: 1px solid #eee;
    margin-bottom: 30px;
	width: 300px;
}

.product-item-start img{
	width: 100%;
    overflow: hidden;
}

/* .row grid{
	display: grid;
	grid-template-columns:33% 33% 33%
} */

/*BILDERNA PÅ FÖRSTA SIDAN*/
/* body {
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
  }


  
element.style {
	position: relative;
} */


/*BILDERNA PÅ FÖRSTA SIDAN*/

/* .div-grid
{
	display: grid;
	grid-template-columns: repeat(3, 7fr);
	grid-template-rows: auto;
	margin-top: 3%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 3%;
	grid-gap: 15px;
}

#order-grid {
	cursor: pointer;
	width: 100%;
	height: 100%;
	object-fit: cover;
} */


/*--PRODUCT PAGE--*/

/* @media (min-width: 1200px)
{
	.container {
		max-width: 1140px;
	}
} */

@media (min-width: 992px)
{
	.container {
		max-width: 960px;
	}
}

@media (min-width: 768px)
{
	.container {
		max-width: 720px;
	}
}

/* @media (min-width: 576px)
{
	.container {
		max-width: 540px;
	}
} */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

	/*Om båda är till auto stå funkar inte checkboxen*/
    margin-right: 750px;
    margin-left: auto;
}

.products {
	margin-top: 100px;
}

.products .filters {
	text-align: center;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 60px;
}

.products .filters li {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	color: #121212;
	display: inline-block;
	margin: 0px 10px;
	transition: all .3s;
	cursor: pointer;
}

.products .filters ul li.active,
.products .filters ul li:hover {
  color: #f33f3f;
}

.products ul.pages {
	margin-top: 30px;
	text-align: center;
}

.products ul.pages li {
	display: inline-block;
	margin: 0px 2px;
}

.products ul.pages li a {
	width: 44px;
	height: 44px;
	display: inline-block;
	line-height: 42px;
	border: 1px solid #eee;
	font-size: 15px;
	font-weight: 700;
	color: #121212;
	transition: all .3s;
}

.products ul.pages li a:hover,
.products ul.pages li.active a {
	background-color: #f33f3f;
	border-color: #f33f3f;
	color: #fff;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto 
{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

* ::after, ::before {
    box-sizing: border-box;
}


#product-ul-rad
{
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

@media (min-width: 768px)
{
	.col-md-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}


@media (min-width: 992px)
{.col-lg-4 
	{
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
}

@media (min-width: 768px){
	.col-md-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	
}

/*PRODUCT SIDAN lådorna*/
.product-item {
    border: 1px solid #eee;
    margin-bottom: 10px;
	width: 200px;
}

.product-item img {
    width: 100%;
    overflow: hidden;
}

img {
    vertical-align: middle;
    border-style: none;
}

.product-item .down-content {
    padding: 30px;
    position: relative;
}

.text-in-productbox {
    text-decoration: none!important;
}
/*Titel*/
.product-item .down-content h4 {
    font-size: 17px;
    color: #1a6692;
    margin-bottom: 20px;
}
/*Cash*/
.product-item .down-content h6 {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 18px;
    color: #121212;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
} */

/*PRODUCT SIDAN lådorna*/



/*Varukorgen*/

.order_summary
{
	overflow: hidden;
    white-space: nowrap;
    overflow: auto;
}
* cart {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
  }
  
  h1 {
	font-size: 16px;
	margin: 5px;
  }
  .container-cart {
	width: 100%;
	height: 92vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #f9fafc;
  }
  
  /*
  Payment Information card
  */
  .details_card {
	width: 700px;
	height: 400px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	padding: 10px;
	background-color: rgb(235, 235, 235);
  }
  
  /*
  Order Summary Card
  */
  .summary_card {
	background-color: rgb(235, 235, 235);
	width: 350px;
	height: 400px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	padding: 10px;
  }
  
  /*
  Order Card Item Card
  */
  .card_item {
	display: flex;
	position: relative;
	margin: 10px 0;
  }
  .close-btn {
	position: absolute;
	right: 10px;
	top: 5px;
  }
  
  .card_item .product_img img {
	height: 80px;
	margin-right: 20px;
	width: 70px;
	border-radius: 5px;
  }
  
  .product_info h1 {
	font-size: 20px;
	color: #1e212d;
	margin: 5px 0;
  }
  
  .product_info p {
	color: #a1a1a1;
	font-size: 14px;
  }
  .product_rate_info {
	display: flex;
	margin: 5px 0;
	align-items: center;
	justify-content: space-between;
  }
  
  /*
  cart item + & -
  */
  .pqt {
	font-size: 20px;
	line-height: 30px;
	width: 30px;
	text-align: center;
  }
  
  .pqt-plus,
  .pqt-minus {
	background: #fcfcfc;
	border: none;
	font-size: 20px;
	height: 100%;
	padding: 0 15px;
  }
  .pqt-plus:hover,
  .pqt-minus:hover {
	background: #53b5aa;
	color: #fff;
	cursor: pointer;
  }
  
  .pqt-plus {
	line-height: 30px;
  }
  
  .pqt-minus {
	line-height: 30px;
  }
  /*
  Order price & total
  */
  .order_price,
  .order_service,
  .order_total {
	display: flex;
  
	justify-content: space-between;
	padding: 10px;
  }
  .order_price p,
  .order_service p {
	color: #a1a1a1;
  }
  
  .order_total p {
	font-weight: 600;
  }
  
  /*
  Payment Information all input
  */
  
 .input-cart {
	outline: 0;
	background: #f2f2f2;
	border-radius: 4px;
	width: 100%;
	border: 0;
	caret-color: #4f5d7e;
	margin: 10px 15px;
	padding: 15px 20px;
	box-sizing: border-box;
	font-size: 14px;
  }
  
  .first_lastName,
  .shipping_card,
  .address {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
  }
  
  .new_card {
	width: 100%;
	height: 100px;
	border: 2px solid #53b5aa;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
  }
  
  .add_savedcard {
	width: 100%;
	height: 100px;
	border: 2px solid #a1a1a1;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
  }
  /*
  Procced Payment button
  */
  .proced_payment a {
	padding: 10px 20px;
	width: 200px;
	border: 2px solid #f5f5f5;
	background-color: #53b5aa;
	color: #000;
	margin-left: 10px;
	cursor: pointer;
	text-decoration: none;
  }

  /*Total Cost*/
.totalorder
{
	width: 80%;
	height: 35px;
	/* border: 2px solid #a1a1a1; */
	padding: 10px;
	margin: 10px;
	margin-left: 115px;
	margin-top: -30px;
	border-radius: 10px;
}


.order-ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.li-order
{
	display: inline;
	color: black;
	text-align: center;
	padding: 5px;
	text-decoration: none;
	font-size: medium;
	
}

/*ADMIN*/

/* #contariner-admin{
    
    position: absolute;
    overflow: visible;
    width: 70%;
    height: 55%;
    left: 15%;
    top: 15%;
	display: block;
    
    border-style: solid; 
} */

#grid-label-admin{
	
	margin-top: 200px;
	margin-left: 550px;
    border-style: solid; 
	width: 35%;
    height: 400px;
	border-color: black;
	display:inline-block;
}
.admin-title {
    display:block;
    text-transform: uppercase;
    width: auto;
	padding: 10px;
	padding-left: 10px;
}

#Title{
	margin-left: 10px;
	left: 10px;
}
#Price{
	margin-left: 10px;
	left: 10px;
}
#Description{
	margin-left: 10px;
	left: 10px;
}
#Type{
	margin-left: 10px;
	left: 10px;
	padding-left: 50px;
}
#Quantity{
	margin-left: 10px;
	left: 10px;
}
#Img{
	margin-left: 10px;
	left: 10px;
}

#knappen
{
    border-style: solid; 
	float: right;
	margin-right: 20px;
}
#admin-knapp{
	
	bottom: 500px;
	height: 50px;
	width: 100px;
}

  